name: Docker Image CI

on:
  push:
    branches:
      - main
      - refactor-tests
  pull_request:
    branches:
      - main

jobs:
    excalidraw-storage-backend-build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - uses: actions/setup-node@v6
              with:
                node-version: '24'
            - name: Build and export to Docker
              uses: docker/build-push-action@v6
              with:
                  context: .
                  tags: |
                      ghcr.io/kitsteam/excalidraw-storage-backend:latest

    excalidraw-storage-backend-build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - uses: actions/setup-node@v6
              with:
                node-version: '24'

            - run: npm i
            - run: npm run build

    excalidraw-storage-backend-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                node-version: '24'

            - run: npm i
            - run: npm run test